/* Reset ALL elements' spacing. */
* {
	margin: 0;
	padding: 0;
}

/* Turn image elements, which are inline by default into block elements. */
img {
	display: block;
	width: 100%;
}

.page {}

.vers-switch {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
}
